/************************************************************
** 请将全局样式拷贝到项目的全局 CSS 文件或者当前页面的顶部 **
** 否则页面将无法正常显示                                  **
************************************************************/
/* 隐藏光标在这些元素上 */
div,
span,
p {
    caret-color: transparent;
    /* 隐藏插入符 */
}

/* 背景图样式 */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./bg1.png");
    /* background-image: url("../../static/background.png"); */
    background-size: cover;
    background-position: bottom;
    /* filter: blur(1.5px); */
    z-index: -1;
}

.background {
    /* background-image: url("../../static/background.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 添加首页链接的样式 */
.home-link {
    position: absolute;
    top: 2rem;
    left: 3rem;
}

.home-link .link {
    color: #ffffff;
    /* 颜色使用白色 */
    font-size: 2rem;
    /* 增大字体大小 */
    font-family: "hongleixingshu";
    /* 使用"hongleixingshu"字体 */
    text-decoration: none;
}

.home-link .link:hover {
    text-decoration: underline;
}

.no-results {
    font-size: 2rem;
    /* 放大字体 */
    color: #ff0000;
    /* 可以根据需要调整颜色 */
    text-align: center;
    /* 居中对齐文本 */
    margin-top: 2rem;
    /* 增加顶部间距，使其与其他内容分开 */
    margin-left: -7.5cm;
}

html {
    font-size: 16px;
}

.move-left-3cm {
    margin-left: -2.5cm;
}

body {
    margin: 0;
    font-family: "hongleixingshu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        "Microsoft Yahei", sans-serif;
}

body * {
    box-sizing: border-box;
    flex-shrink: 0;
}

#app {
    width: 100vw;
    height: 100vh;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 3%;
    line-height: 100%;
    left: 0;
    bottom: 0%;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-auto {
    flex: 1 1 auto;
}

.grow {
    flex-grow: 1;
}

.grow-0 {
    flex-grow: 0;
}

.shrink {
    flex-shrink: 1;
}

.shrink-0 {
    flex-shrink: 0;
}

.relative {
    position: relative;
}

.ml-2 {
    margin-left: 0.13rem;
}

.mt-2 {
    margin-top: 0.13rem;
}

.ml-4 {
    margin-left: 0.25rem;
}

.mt-4 {
    margin-top: 0.25rem;
}

.ml-6 {
    margin-left: 0.38rem;
}

.mt-6 {
    margin-top: 0.38rem;
}

.ml-8 {
    margin-left: 0.5rem;
}

.mt-8 {
    margin-top: 0.5rem;
}

.ml-10 {
    margin-left: 0.63rem;
}

.mt-10 {
    margin-top: 0.63rem;
}

.ml-12 {
    margin-left: 0.75rem;
}

.mt-12 {
    margin-top: 0.75rem;
}

.ml-14 {
    margin-left: 0.88rem;
}

.mt-14 {
    margin-top: 0.88rem;
}

.ml-16 {
    margin-left: 1rem;
}

.mt-16 {
    margin-top: 1rem;
}

.ml-18 {
    margin-left: 1.13rem;
}

.mt-18 {
    margin-top: 1.13rem;
}

.ml-20 {
    margin-left: 1.25rem;
}

.mt-20 {
    margin-top: 1.25rem;
}

.ml-22 {
    margin-left: 1.38rem;
}

.mt-22 {
    margin-top: 1.38rem;
}

.ml-24 {
    margin-left: 1.5rem;
}

.mt-24 {
    margin-top: 1.5rem;
}

.ml-26 {
    margin-left: 1.63rem;
}

.mt-26 {
    margin-top: 1.63rem;
}

.ml-28 {
    margin-left: 1.75rem;
}

.mt-28 {
    margin-top: 1.75rem;
}

.ml-30 {
    margin-left: 1.88rem;
}

.mt-30 {
    margin-top: 1.88rem;
}

.ml-32 {
    margin-left: 2rem;
}

.mt-32 {
    margin-top: 2rem;
}

.ml-34 {
    margin-left: 2.13rem;
}

.mt-34 {
    margin-top: 2.13rem;
}

.ml-36 {
    margin-left: 2.25rem;
}

.mt-36 {
    margin-top: 2.25rem;
}

.ml-38 {
    margin-left: 2.38rem;
}

.mt-38 {
    margin-top: 2.38rem;
}

.ml-40 {
    margin-left: 2.5rem;
}

.mt-40 {
    margin-top: 2.5rem;
}

.ml-42 {
    margin-left: 2.63rem;
}

.mt-42 {
    margin-top: 2.63rem;
}

.ml-44 {
    margin-left: 2.75rem;
}

.mt-44 {
    margin-top: 2.75rem;
}

.ml-46 {
    margin-left: 2.88rem;
}

.mt-46 {
    margin-top: 2.88rem;
}

.ml-48 {
    margin-left: 3rem;
}

.mt-48 {
    margin-top: 3rem;
}

.ml-50 {
    margin-left: 3.13rem;
}

.mt-50 {
    margin-top: 3.13rem;
}

.ml-52 {
    margin-left: 3.25rem;
}

.mt-52 {
    margin-top: 3.25rem;
}

.ml-54 {
    margin-left: 3.38rem;
}

.mt-54 {
    margin-top: 3.38rem;
}

.ml-56 {
    margin-left: 3.5rem;
}

.mt-56 {
    margin-top: 3.5rem;
}

.ml-58 {
    margin-left: 3.63rem;
}

.mt-58 {
    margin-top: 3.63rem;
}

.ml-60 {
    margin-left: 3.75rem;
}

.mt-60 {
    margin-top: 3.75rem;
}

.ml-62 {
    margin-left: 3.88rem;
}

.mt-62 {
    margin-top: 3.88rem;
}

.ml-64 {
    margin-left: 4rem;
}

.mt-64 {
    margin-top: 4rem;
}

.ml-66 {
    margin-left: 4.13rem;
}

.mt-66 {
    margin-top: 4.13rem;
}

.ml-68 {
    margin-left: 4.25rem;
}

.mt-68 {
    margin-top: 4.25rem;
}

.ml-70 {
    margin-left: 4.38rem;
}

.mt-70 {
    margin-top: 4.38rem;
}

.ml-72 {
    margin-left: 4.5rem;
}

.mt-72 {
    margin-top: 4.5rem;
}

.ml-74 {
    margin-left: 4.63rem;
}

.mt-74 {
    margin-top: 4.63rem;
}

.ml-76 {
    margin-left: 4.75rem;
}

.mt-76 {
    margin-top: 4.75rem;
}

.ml-78 {
    margin-left: 4.88rem;
}

.mt-78 {
    margin-top: 4.88rem;
}

.ml-80 {
    margin-left: 5rem;
}

.mt-80 {
    margin-top: 5rem;
}

.ml-82 {
    margin-left: 5.13rem;
}

.mt-82 {
    margin-top: 5.13rem;
}

.ml-84 {
    margin-left: 5.25rem;
}

.mt-84 {
    margin-top: 5.25rem;
}

.ml-86 {
    margin-left: 5.38rem;
}

.mt-86 {
    margin-top: 5.38rem;
}

.ml-88 {
    margin-left: 5.5rem;
}

.mt-88 {
    margin-top: 5.5rem;
}

.ml-90 {
    margin-left: 5.63rem;
}

.mt-90 {
    margin-top: 5.63rem;
}

.ml-92 {
    margin-left: 5.75rem;
}

.mt-92 {
    margin-top: 5.75rem;
}

.ml-94 {
    margin-left: 5.88rem;
}

.mt-94 {
    margin-top: 5.88rem;
}

.ml-96 {
    margin-left: 6rem;
}

.mt-96 {
    margin-top: 6rem;
}

.ml-98 {
    margin-left: 6.13rem;
}

.mt-98 {
    margin-top: 6.13rem;
}

.ml-100 {
    margin-left: 6.25rem;
}

.mt-100 {
    margin-top: 6.25rem;
}

/*********************************************/

.ml-21 {
    margin-left: 1.31rem;
}

.ml-171 {
    margin-left: 10.69rem;
}

.ml-197 {
    margin-left: 12.31rem;
}

.ml-61 {
    margin-left: 3.81rem;
}

.ml-146 {
    margin-left: 9.13rem;
}

.ml-73 {
    margin-left: 4.56rem;
}

.mt-25 {
    margin-top: 1.56rem;
}

.ml-33 {
    margin-left: 2.06rem;
}

.image {
    filter: blur(0.17rem);
    width: 100vw;
    height: 56.25vw;
}

.text {
    text-shadow:
        0.31rem 0.31rem 0.31rem #1e1008a3,
        -0.3px -0.3px 0 #1e1008a3,
        0.3px -0.3px 0 #1e1008a3,
        -0.3px 0.3px 0 #1e1008a3,
        0.3px 0.3px 0 #1e1008a3;
    /* 黑色描边 */
}


.text_3 {
    color: #ffffff;
    font-size: 3rem;
    font-family: "hongleixingshu";
    line-height: 2.16rem;
}

.pos_2 {
    position: absolute;
    left: 3.76rem;
    top: 3.27rem;
    cursor: pointer;
}

.text_2 {
    color: #ffffff;
    font-size: 4.3rem;
    font-family: "hongleixingshu";
    line-height: 3.3rem;
}

.pos {
    position: absolute;
    left: 50%;
    top: 1.99rem;
    transform: translateX(-50%);
}

.section-image {
    padding: 3.81rem 10.19rem 3rem;
    background-image: url("./bg1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.pos_3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 7.94rem;
}

.group {
    padding: 0 0.01rem;
}

.group {
    padding: 0 0.001rem;
    display: flex;
    width: 100%;
}

.image_2 {
    width: 3.13rem;
    height: 3.13rem;
}

.input {
    flex: 1 1 0;
    margin-left: 0.28rem;
}

.group_2 {
    height: 3.13rem;
    border-left: solid 0.063rem #946e43;
    border-right: solid 0.063rem #946e43;
    border-top: solid 0.063rem #946e43;
    border-bottom: solid 0.063rem #946e43;
}

.text_4 {
    caret-color: transparent;
    margin-left: 1.37rem;
    color: #4b3010;
    font-size: 2.5rem;
    font-family: "hongleixingshu";
    line-height: 1.95rem;
    text-shadow: 0rem 0.25rem 0.25rem #00000040;
    cursor: pointer;
    /* 增加鼠标指针变化 */
}

.group_3 {
    margin-top: 2.94rem;
    padding: 0 1.19rem;
}

.section_2 {
    padding: 0.38rem 1.88rem 0.75rem;
    background-image: linear-gradient(90deg, #e3cbb1 0%, #dbbb9600 100%);
}

.font {
    font-family: "hongleixingshu";
    color: #4b3010;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.font_2 {
    font-size: 1.5rem;
    font-family: "hongleixingshu";
    line-height: 1.4rem;
    color: #4b3010cc;
    margin-left: 1rem;
    text-align: left;
    /* 左对齐 */
}

.text_5 {
    line-height: 1.92rem;
}

.text_6 {
    line-height: 1.35rem;
}

.section_3 {
    padding: 0.5rem 1.88rem;
    background-image: linear-gradient(90deg, #e3cbb1 0%, #dbbb9600 100%);
}

.text_10 {
    line-height: 2.16rem;
}

.group_4 {
    margin-left: 4.75rem;
}

.section_4 {
    padding: 0.63rem 2.25rem 0.38rem;
    background-image: linear-gradient(90deg, #e3cbb1 0%, #dbbb9600 100%);
}

.text_13 {
    line-height: 2.1rem;
}

.section_5 {
    padding: 0.63rem 1.88rem;
    background-image: linear-gradient(90deg, #e3cbb1 0%, #dbbb9600 100%);
}

.text_17 {
    line-height: 1.85rem;
}

.group_5 {
    margin-top: 5.06rem;
}

.group_6 {
    padding-bottom: 2.5rem;
}

.group_7 {
    filter: drop-shadow(0rem 0.25rem 0.13rem #00000040);
    width: 8.44rem;
    height: 8.44rem;
}

.group_9 {
    margin-left: 3.13rem;
}

.text_21 {
    line-height: 1.99rem;
}

.group_10 {
    padding-left: 0.25rem;
}

.group_12 {
    padding: 0 0.25rem;
}

.font_4 {
    font-size: 1.5rem;
    font-family: "hongleixingshu";
    line-height: 1.33rem;
    color: #4b3010cc;
}

.text_20 {
    margin-left: 12.38rem;
    margin-right: 17.5rem;
}

.text_19 {
    margin-left: 11.63rem;
}

.font_3 {
    font-size: 1.5rem;
    font-family: "hongleixingshu";
    line-height: 1.28rem;
    color: #4b3010cc;
}

.text_16 {
    margin-left: 13.88rem;
    margin-right: 18.75rem;
}

.text_9 {
    margin: 0.63rem 15.88rem 0 10.75rem;
}

.text_25 {
    line-height: 1.4rem;
}

.text_22 {
    line-height: 1.35rem;
}

.text_18 {
    line-height: 1.35rem;
}

.text_15 {
    margin-left: 13.25rem;
    line-height: 1.35rem;
}

.text_14 {
    line-height: 1.4rem;
}

.text_12 {
    margin-left: 5.5rem;
    margin-right: 11.5rem;
}

.text_11 {
    margin-left: 4.81rem;
}

.text_8 {
    margin-left: 10.13rem;
    line-height: 1.35rem;
}

.text_7 {
    line-height: 1.39rem;
}

.text_30 {
    line-height: 1.08rem;
}

.group_11 {
    margin-left: 4.63rem;
    margin-top: 4rem;
}

.text_23 {
    line-height: 1.36rem;
}

.text_26 {
    line-height: 1.37rem;
}

.text_27 {
    margin-left: 1.13rem;
    margin-top: 7rem;
    line-height: 1.36rem;
}

.group_8 {
    width: 70.94rem;
}

.pos_4 {
    position: absolute;
    left: 0;
    top: 0;
}

.text_24 {
    line-height: 1.34rem;
}

.text_28 {
    line-height: 1.37rem;
}

.text_29 {
    line-height: 1.37rem;
}

.text-wrapper {
    margin-left: 0.81rem;
    padding: 2rem 0 2.25rem;
    background-image: linear-gradient(90deg, #e3cbb1 0%, #dbbb9600 100%);
}

.text_31 {
    margin-left: 5.25rem;
    line-height: 1.81rem;
    width: 68.94rem;
}

.result-item {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}